<div class="h-screen w-16 m-0 bg-indigo-900 text-white shadow-lg text-center">
  <%= @greeting %>
  <nav>
    <ul class="flex flex-col">
      <li>
        <%= link_to root_url, title: 'Guest Home' do %>
          <%= helpers.icon 'house' %>
        <% end %>
      </li>
      <%- if @user.nil? || @user.guest? %>
      <li>
        <%= link_to new_session_path, title: 'Login' do %>
          <%= helpers.icon 'right-to-bracket' %>
        <% end %>
      </li>
      <%- else  %>
        <li>
          <%= link_to members_home_url, title: 'Members' do %>
            <%= helpers.icon 'house-user' %>
          <% end %>
        </li>
        <li>
          <%= link_to session_path, data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'}, title: 'Logout' do %>
          <%= helpers.icon 'right-from-bracket' %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </nav>
</div>
