<div class="h-screen w-16 m-0 bg-indigo-900 text-white shadow-lg text-center">
  <%= @greeting %>
  <nav>
    <ul class="flex flex-col">
      <li>
        <%= link_to root_url, title: 'Guest Home' do %>
          <%= helpers.icon 'house' %>
        <% end %>
      </li>
      <%- unless @user.guest? %>
        <li>
          <%= link_to members_home_url, title: 'Members' do %>
            <%= helpers.icon 'house-user' %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </nav>
</div>
