<div class="h-screen w-16 m-0 bg-indigo-900 text-white shadow-lg text-center">
  <nav>
    <ul class="flex flex-col items-center gap-1 text-xl">
      <li>
        <%- if @current_user&.avatar_url %>
          <img class="w-10 h-10 rounded-full bg-white text-center"
               src="<%= @current_user.avatar_url %>"
               alt="Rounded avatar">
        <%- else %>
          <div class="relative w-10 h-10 overflow-hidden bg-gray-100 rounded-full dark:bg-gray-600">
            <svg class="absolute w-12 h-12 text-gray-400 -left-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd"></path>
            </svg>
          </div>
        <% end %>
      </li>
      <li>
        <%= @greeting %>
      </li>
      <%- if @current_user.blank? || @current_user.guest? %>
        <li>
          <%= component :link_button, root_path, :nav, title: 'Guest Home' do %>
            <%= component :icon, :house %>
          <% end %>
        </li>
        <li>
          <%= component :link_button, new_session_path, :nav, title: 'Login' do %>
            <%= component :icon, :right_to_bracket %>
          <% end %>
        </li>
      <%- else %>
        <li>
          <%= component :link_button, members_home_path, :nav, title: "Member Home" do %>
            <%= component :icon, :house                                                   %>
          <% end %>
        </li>
        <li>
          <%= component :link_button, user_path(@current_user), :nav, title: 'User Profile' do %>
            <%= component :icon, :user %>
          <% end %>
        </li>
        <li>
          <%= component :link_button, session_path, :nav,
                        data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' },
                        title: 'Logout' do %>
            <%= component :icon, :right_from_bracket %>
          <% end %>
        </li>
        <li>
          <%= component :link_button, users_path, :nav, title: 'Users' do %>
            <%= component :icon, :users %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </nav>
</div>
