<div class="h-screen w-16 m-0 bg-indigo-900 text-white shadow-lg text-center">
  <nav>
    <ul class="flex flex-col items-center gap-1 text-xl">
      <li>
        <%- if @user&.avatar_url %>
          <img class="w-10 h-10 rounded-full bg-white text-center"
               src="<%= @user.avatar_url %>"
               alt="Rounded avatar">
        <%- else %>
          <div class="relative w-10 h-10 overflow-hidden bg-gray-100 rounded-full dark:bg-gray-600">
            <svg class="absolute w-12 h-12 text-gray-400 -left-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd"></path>
            </svg>
          </div>
        <% end %>
      </li>
      <li>
        <%= @greeting %>
      </li>
      <li>
        <%= render LinkButtonComponent.new path: root_path,
                                           title: 'Guest Home', label: '',
                                           icon_left: "house" %>
      </li>
      <%- if @user.nil? || @user.guest? %>
        <li>
          <%= render LinkButtonComponent.new path: new_session_path,
                                             title: 'Login', label: '',
                                             icon_left: "right_to_bracket" %>
        </li>
      <%- else %>
        <li>
          <%= render LinkButtonComponent.new path: members_home_path,
                                             title: 'Member Home', label: '',
                                             icon_left: "house-user" %>
        </li>
        <li>
          <%= render LinkButtonComponent.new path: user_path(@user),
                                             title: 'User Profile', label: '',
                                             icon_left: "user" %>
        </li>
        <li>
          <%= render LinkButtonComponent.new path: session_path,
                                             data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' },
                                             title: 'Logout', label: '',
                                             icon_left: 'right-from-bracket' %>
        </li>
      <% end %>
    </ul>
  </nav>
</div>
