<div id="<%= dom_id user %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Email address:</strong>
    <%= user.email_address %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= user.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Password digest:</strong>
    <%= user.password_digest %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Visible:</strong>
    <%= user.visible %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Membership:</strong>
    <%= user.membership %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Avatar url:</strong>
    <%= user.avatar_url %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= user.description %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Location:</strong>
    <%= user.location %>
  </p>

</div>
