<main class="flex w-full h-full items-center justify-center">
  <%= render PaneComponent.new(title: 'Users') do %>
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <div class="flex justify-between items-center">
      <h1 class="font-bold text-4xl">Users</h1>
      <%= component :link_button, new_user_path, :success, title: "New User" do %>
        <%= component :icon, :user_plus %>
        New User
      <% end %>
    </div>

    <table class="table-auto border-separate border-spacing-2">
      <thead>
      <tr>
        <th>Email</th>
        <th>Name</th>
        <th>Membership</th>
        <th>Visibility</th>
        <th>Created At</th>
        <th>Updated At</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.email_address %></td>
          <td><%= user.name %></td>
          <td><%= user.membership %></td>
          <td><%= user.visible ? 'Yes' : 'No' %></td>
          <td><%= user.created_at %></td>
          <td><%= user.updated_at %></td>
          <td>
            <%= render ToolbarUlComponent.new condensed: true do %>
              <li>

                <%= component :link_button, user, :info, :condensed, title: "Show User" do %>
                  <%= component :icon, :eye %>
                  New User
                <% end %>
              </li>
              <%- if Current.user.admin? || Current.user == user %>
                <li>
                  <%= component :link_button, edit_user_path(user), :success, :condensed, title: 'Edit User' do %>
                    <%= component :icon, :pen %>
                    Edit User
                  <% end %>
                </li>
              <% end %>
              <%- if Current.user.admin? || Current.user == user %>
                <li>
                  <%= component :link_button, user, :danger, :condensed,
                                data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' },
                                title: 'Delete User' do %>
                    <%= component :icon, :eraser %>
                    Delete User
                  <% end %>
                </li>
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  <% end %>
</main>

