<%= component :main_flex_row do %>
  <%= component :pane, "#{@user.name}'s Profile", "Find me in app/views/users/show.html.erb" do %>
    <%= render @user %>
    <%= render ToolbarUlComponent.new do %>
      <li class="text-white">
        <%= component 'link_button', edit_user_path(@user), variants: :info, title: 'Show User' do %>
          <%= component 'icon', :eye %>
        <% end %>
      </li>
      <li>
        <%= component :link_button, edit_user_path(@user), :success do %>
          <%= component :icon, :pen %>
          Edit User
        <% end %>
      </li>
      <li>
        <%= component :link_button, user_path(@user), :danger,
                      data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' },
                      title: 'Delete User' do %>
          <%= component :icon, :eraser %>
          Delete User
        <% end %>
      </li>
    <% end %>
  <% end %>
<% end %>
