<%= component :main_flex do %>
  <%= component :pane, "#{@user.name}'s Profile", "Find me in app/views/users/show.html.erb" do %>
    <%= render @user %>
   <%# TODO ul not going full width and buttons not centering %>
    <%= component :toolbar_ul do %>
      <li>
        <%= btn :edit, edit_user_path(@user), :user %>
      </li>
      <li>
        <%= btn :delete, @user, :user, title: 'Delete USer' %>
      </li>
    <% end %>
  <% end %>
<% end %>
