<main class="pb-64 flex w-full h-full items-center justify-center">
  <%= render PaneComponent.new title: "#{@user.name}'s Profile",
                               subtitle: "Find me in app/views/users/show.html.erb" do %>
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>
    <%= render @user %>
    <%= render ToolbarUlComponent.new do %>
      <li class="text-white">
        <%= component 'link_button', edit_user_path(@user), variants: :info, title: 'Show User' do %>
          <%= component 'icon', :eye %>
        <% end %>
      </li>
      <li>
        <%= component :link_button, edit_user_path(@user), :success do %>
          <%= component :icon, :pen %>
          Edit User
        <% end %>
      </li>
      <li>
        <%= component :link_button, user_path(@user), :danger,
                      data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' },
                      title: 'Delete User' do %>
          <%= component :icon, :eraser %>
          Delete User
        <% end %>
      </li>
    <% end %>
  <% end %>
</main>
