<main class="pb-64 flex w-full h-full items-center justify-center">
  <%= render PaneComponent.new title: "#{@user.name}'s Profile",
                               subtitle: "Find me in app/views/users/show.html.erb" do %>
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>
    <%= render @user %>
    <%= render ToolbarUlComponent.new do %>
      <li class="text-white">
        <%= render LinkButtonComponent.new path: edit_user_path(@user), variants: :info,
                                           title: 'Show User', label: 'Show',
                                           icon_left: 'eye' %>
      </li>
      <li>
        <%= render LinkButtonComponent.new path: edit_user_path(@user), variants: [:success],                                         title: 'Edit User', label: 'Edit',
                                           icon_right: "pen" %>
      </li>
      <li>
        <%= render LinkButtonComponent.new path: user_path(@user), variants: [:danger, :icon],
                                           data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' },
                                           title: 'Delete User', label: 'Delete',
                                           icon_left: 'eraser' %>
        %>
      </li>
    <% end %>
  <% end %>
</main>
