<div id="<%= dom_id organization %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= organization.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Subtitle:</strong>
    <%= organization.subtitle %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= organization.description %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Owner:</strong>
    <%= organization.user_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Visible:</strong>
    <%= organization.visible %>
  </p>

</div>
