<%= component :main_flex do %>
  <%= component :pane, @organization.name do %>
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <%= render @organization %>
    <%= component :btn_bar do %>
      <li><%= btn :edit, edit_organization_path(@organization), "Org",size: :sm, shape: :bar %></li>
      <li><%= btn :back_to, organizations_path, "Orgs", size: :sm, shape: :bar %></li>
      <li><%= btn :delete, edit_organization_path(@organization), "Org", size: :sm, shape: :bar %></li>
    <% end %>
  <% end %>
<% end %>
