<%= component :main_flex do %>
  <%= component :pane, @organization.name do %>
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <%= render @organization %>
    <%= component :btn_bar, :div do %>
      <%= btn :edit, edit_organization_path(@organization), "Org", size: :md, shape: :bar %>
      <%= btn :back_to, organizations_path, "Orgs", size: :md, shape: :bar %>
      <%= btn :delete, organization_path(@organization), "Org", size: :md, shape: :bar %>
    <% end %>
  <% end %>
<% end %>
